.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.education h1{
    text-align: center;
    margin-top: 20px;
}

.education h3{
    text-align: center;
    margin-top: 20px;
}